.topnav {
    overflow: hidden;
    background-color: #e4d3c9;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #4b4646;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav {justify-content: space-around;}
    .topnav a:not(:nth-child(3)) {display: none;}
    .topnav a {padding: 0;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
        flex-direction: column;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      margin: 0 1rem;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      padding: 14px 0;
    }
    .topnav.responsive .logo {display: none;}
  }