@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {box-sizing:border-box}

body {
  font-family: 'Quicksand';
  background: linear-gradient(90deg, rgb(255, 230, 214) 0%, rgb(247, 178, 226) 100%);
  color: #444;
}

nav {
  background-color: #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dark-mode {
background: linear-gradient(90deg, rgb(27, 31, 56) 0%, rgb(32, 28, 36) 100%);
}

main {
  margin: 0.5rem;
}

h1 {
  font-size: 1rem;
  margin: 0;
}

img {
  max-width: 100%;
}

.mobile-container {
  max-width: 480px;
  margin:auto;
  background-color: #555;
  height: 500px;
  color: #444;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: white;
  position: relative;
  margin-bottom: 1rem;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: #444;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav .active {
  background: linear-gradient(90deg, rgba(255,75,75,1) 0%, rgba(255,183,0,1) 100%); 
  color: white;
}

.icon {
  height: 48px;
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
}

.topnav a:hover {
  background-color: rgb(252, 185, 159);
  color: white;
  font-weight: 600;
}

.accordion {
    font-family: 'Quicksand';
    font-size: 1rem;
    font-weight: 400;
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 0;
    outline: none;
    transition: 0.4s;
  }

.accordion:after {
      content: '\02795';
      font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }

.active, .accordion:hover {
      background-color: rgb(252, 185, 159);
      color: white;
      font-weight: 600;
  }

.panel {
    padding: 0 18px;
  background-color: rgb(245, 245, 245);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  }

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin-top: 1rem;
  }

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #444;
  }
  
.tab button:hover {
    background-color: #ddd;
  }

.tab button.active {
    background-color: #ccc;
  }
  
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 1s;
    background-color: white;
  }

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

.topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
  }
  
.topright:hover {color: red;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
  margin-top: 1rem;
  background-color: white;
}

.text {
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 1rem;
}

.dot .active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

button {
  background-color: orange;
  padding: 1rem;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

button:hover {
  background-color: rgb(255, 136, 0);
}

.hide {
  background-color: white;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hide p {
  margin: 0;
  padding: 1rem;
  border: 1px solid orange;
}

.timer {
  background: rgb(255,75,75);
  background: linear-gradient(90deg, rgba(255,75,75,1) 0%, rgba(255,183,0,1) 100%); 
  color: white;
  font-weight: bold;
  padding: 1rem;
  margin-bottom: 1rem;
}

.timer p {
  margin: 0;
}

#myContainer {
  width: 400px;
  height: 400px;
  position: relative;
  background-color: rgb(194, 9, 86);
}

#myAnimation {
  width: 50px;
  height: 50px;
  position: absolute;
  background: rgb(255, 154, 107);
  border-radius: 50%;
}

#more {display: none;}

.square {
  background: green;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  position: fixed;
  color: white;
  padding: 0.5rem;
  box-shadow: black 10px 10px;
}

.tooltip {
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  -ms-transform: translate(-50%);
  padding: 0.5rem;
  margin-top: 0.15rem;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 400;
  width: 75px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}